*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    color: aqua;    
    justify-content: center;
    font-style: italic;
    font-size: small;
    font-weight: bold;
}
body{
    color: #3cd2f8;
    text-align: center;
    background-image: url(./img/pokeball.jpg);
    background-repeat: repeat;
    background-size: 100%;
}
section{
    position: relative;
    margin-top: -17px;    
    width: 100%;
    height: 400px;
    color: #3cd2f8;
}
.poke{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.pokemon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%, -20%);
}
.shiny{
    width: 100px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, -44%);
}
.bot{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-color: rgb(100, 159, 207);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1102%, 505%);
    background-color: transparent;   
}
.typ {
    width: 70px;
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, 398%);
    background-color: grey;
    text-align: center;
    color: whitesmoke;
}
.typ2 {
    width: 70px;
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(170%, 398%);
    background-color: grey;
    text-align: center;
    color: whitesmoke;
}

.nme1 {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-237%, 349%);
    background-color: rgb(77, 185, 95);
    text-align: center;
    color: whitesmoke;
}
input.bus , button {    
    cursor:pointer;
}
input{
    cursor: default;
}
.bus{
    background-attachment: fixed;
}
div.est{
    width: 135px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-344%, -60%);    
    background-color: rgb(77, 185, 95);
    border-radius: 3%;
    box-shadow: inset 0 0 30px rgb(77, 185, 95), inset 0 0 30px rgb(253, 253, 253), inset 0 0 30px rgb(77, 185, 95), inset 0 0 30px rgb(253, 253, 253), inset 0 0 30px rgb(77, 185, 95);
    text-align: center;
    color: black;
    overflow-y: scroll;
    overflow-x:auto;
}
p.sts{
    text-align: center;
    font-weight: bolder;
}
p.muv{
    text-align: center;
    font-weight: bolder;    ;
}
div.mov{
    width: 135px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(245%, 8%);
    background-color: rgb(77, 185, 95);
    border-radius: 3%;
    box-shadow: inset 0 0 30px rgb(77, 185, 95), inset 0 0 30px rgb(253, 253, 253), inset 0 0 30px rgb(77, 185, 95), inset 0 0 30px rgb(253, 253, 253), inset 0 0 30px rgb(77, 185, 95);
    text-align: center;
    color: rgb(31, 17, 224);
    overflow-y: scroll;
    overflow-x: auto;
}
.fon{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-199%, -50%);
}
.fon2{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(99%, -30%);
}
.logo{
    width: 15px;
    height: 15px;
}
div.typ{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-flex;
    flex-wrap: wrap;
    color: whitesmoke;    
    background-color: black;
}
table{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
img.jpg{
    width: 110px;
    height: 50px;
}
button.tip{
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
button.f5{
    color: red;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
}
input.ins{
    color: red;
    background-color: blue;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
}
img.ins2{
    width: 1500px;
    height: 750px;
}